spring:
  application:
    name: anomaly-training-backend

  datasource:
    url: jdbc:mysql://localhost:3306/anomaly_training
    username: root
    password: Root@123

  jpa:
      hibernate:
          ddl-auto: validate
      properties:
          hibernate:
              show-sql: true
              format_sql: true

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

logging:
  level:
    org:
      flywaydb: DEBUG